*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  /* Set the font family and text color for the entire page */
  body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #e3e3e3;

  /* background-image: url("./media/pnour.jpg"); */
  background-image: url("notse.jpg");
  background-repeat: repeat-y;
  background-size: contain;   
  }
  

  /* Center the contents of the App component */
  .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
  
  /* Style the logo */
  .App-logo {
  height: 40vmin;
  animation: spin 20s linear infinite;
  }
  
  /* Define the animation for the logo */
  @keyframes spin {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
  }
  
  /* Style the header */
  .App-header {
  background-color: #282323;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  /* Style the title */
  .App-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  }
  
  /* Style the subtitle */
  .App-subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  }
  
  /* Style the link */
  .App-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  }
  
  /* Add hover effect to the link */
  .App-link:hover {
  color: #fff;
  background-color: #61dafb;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  }
  